.App {
  text-align: center;
}

.commit {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  border-bottom: 1px solid black;
}

.commit *:nth-child(2) {
  flex: 3;
}

.commit * {
  border-left: 1px solid black;
  flex: 1;
}

.commit p {
  margin: 0;
  padding: 4px;
}

.commit:hover {
  box-shadow: 4px 4px 4px grey;
}

.commits {
  margin: auto;
  max-height: 80vh;
  max-width: 60vw;
  overflow-y: scroll;
}

.commitsHeader {
  display: flex;
  flex-direction: row;
  column-gap: 5rem;
}

.commitsHeader * {
  flex: 1;
}
