.App {
  text-align: center;
}

.repoContainer {
  margin: auto;
  width: 70vw;
}

.commit {
  display: flex;
  align-items: center;
  flex-direction: row;
  column-gap: 2rem;
  border-bottom: 1px solid black;
}

.commit *:nth-child(2) {
  flex: 3;
}

.commit * {
  height: 100%;
  flex: 1;
}


.commit p {
  margin: 0;
  padding: 4px;
}

.commit:hover {
  box-shadow: 4px 4px 4px grey;
}

.commits {
  margin: auto;
  max-height: 80vh;
  min-width: 0;
  overflow-y: scroll;
  overflow-x:visible;
}

.commitsHeader {
  display: flex;
  position: sticky;
  top: 0;
  width: inherit;
  flex-direction: row;
  column-gap: 2rem;
  background-color: white;
  border-bottom: 1px solid black;
}

.commitsHeader * {
  flex: 1;
}

.commitsHeader *:nth-child(2) {
  flex: 3;
}
